{%- assign item = include.item -%}
<article class="record organization-role organization-role--{{ item.role | slugify }}">
  <div class="record__body">
    <h3>{{ item.role }}</h3>
    {% if item.members %}{% include organization-members.html members=item.members people=include.people %}{% endif %}
    {% for subrole in item.subroles %}
      <section class="organization-role__subrole">
        <h4>{{ subrole.role }}</h4>
        {% include organization-members.html members=subrole.members people=include.people %}
      </section>
    {% endfor %}
  </div>
</article>
