{%- assign e = include.event -%}
<article class="publication">
  <h3>{{ e.title }}</h3>
  <p class="meta">
    {%- include date-range.html from=e.start to=e.end -%}
    {% if e.location %} &middot; {{ e.location }}{% endif %}
    {% if e.type %} &middot; {{ e.type | capitalize }}{% endif %}
  </p>
  {% if e.description %}<p>{{ e.description }}</p>{% endif %}
  {% if e.organizers %}
    <p>Organizers:
      {% for o in e.organizers -%}
        {%- if o.name -%}{{ o.name }}{% if o.affiliation %} ({{ o.affiliation }}){% endif %}
        {%- else -%}{% include person-name.html id=o people=include.people %}{%- endif -%}
        {%- unless forloop.last %}, {% endunless -%}
      {%- endfor %}
    </p>
  {% endif %}
  {% if e.url %}<p class="links"><a href="{{ e.url }}">Event website</a></p>{% endif %}
</article>
